.git
.gitignore
.vscode
.idea
node_modules
**/node_modules
nexus-cloud/frontend/node_modules
nexus-cloud/backend/__pycache__
**/__pycache__
nexus-cloud/backend/venv
nexus-cloud/frontend/.next
nexus-cloud/frontend/out
*.pyc
*.pyo
*.pyd
.env.local
.env
*.log
coverage
dist
build
